.search {
  height: 10%;
}
.subjects {
  height: 90%;
  border: 1px solid gray;
}
.subject {
  display: flex;
}
.subjectname {
  display: flex;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
}

.expired {
  font-weight: bold;
  text-decoration: underline;
}