@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');

body {
height: 100vh;
}

main {
  font-size: 1.5em;
}
.search {
  height: 10%;
}
.subjects {
  height: 90%;
  width: 75%;
  outline: 2px solid gray;
  border-radius: 4px;
}
.subject {
  margin-top: -2px;
  display: flex;
  border-bottom: 2px solid gray;;
}

.subject:last-child {
  border: none;
}

.subjectname {
  display: flex;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
  width: 33%;
}

.expired {
 width: 15px;

}

.additem {
  width: 70px;
  height: 40px;
  font-size: 1.6em;
  vertical-align: center;
}

.checkbox {
  margin-right: 8px;
}

.checkbox:checked + label {
  color: gray;
  text-decoration: line-through;
}

.dialog {
  top: 50%;
}

.task {
  display: flex;
  gap: 8px;
  align-items: center;
}

.datepicker {
  background-color: #373C50;
  color: white;
  font-size: large;
  height: 40px;
  padding: 4px; 
  border-radius: 5px;
}

.expired svg path{
  fill: #E53935 !important;
}

.cancel{
  margin-top: -25px;
  margin-right: -25px;
  display: flex;
  align-items: end;
  justify-content: end;
}

.cancel:hover{
  cursor:pointer
}

.cancel svg{
  width: 20px;
}