@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');
main {
  font-family: "Open Sans";
  font-size: 1.5em;
}
.search {
  height: 10%;
}
.subjects {
  height: 90%;
  border: 1px solid gray;
  border-bottom: none;
}
.subject {
  margin-top: -1px;
  display: flex;
  border-bottom: 1px solid gray;
}
.subjectname {
  display: flex;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
}

.expired {
  font-weight: bold;
  text-decoration: underline;
}

button {
  background-color: orange;
  color: gray;
  border-radius: 3px;
  border: 2px solid gray;
  margin: 5px;
}

.additem {
  width: 70px;
  height: 40px;
  font-size: 1.6em;
  vertical-align: center;
}

